@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --primary: #1a2b6d;
  --accent: #00c9a7;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc; /* light content area */
}
